#dynamic3{
    background-color: white;
    flex: 1;
    overflow: scroll;
}
#list1{
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row;
}
.list1_1{
    height: 100px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list1_2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E91E63

}
.list1_4{
     height: 50px;
     width: 50px;
     border-radius: 50%;
     background-color: #FFEB3B
 }
.list1_5{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1DE9B6
}
.list1_6{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFB74D
}
.list1_7{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #42A5F5
}

.list1_3{
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#list2{
    height: 30px;
    width: 100%;
    display: flex;
    flex-flow: row;
}
.list2_1{
    height: 30px;
    width: 20%;
}
#list3{
    height: 120px;
    width: 100%;
    display: flex;
    flex-flow: row;
}
.list3_1{
    height: 120px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.list3_2{

}
#list4{
    height: 20px;
    width: 100%;
    display: flex;
    flex-flow: row;
}
.list4_4{
    height: 20px;
    width: 50%;
    text-align: left;
    font-size: 10px;
    padding-left: 10px;

}

#list5{
    height: 120px;
    width: 100%;
    display: flex;
    flex-flow: row;
}
#list6{
    height: 20px;
    width: 100%;
}
#list7{
    height: 120px;
    width: 100%;
    display: flex;
    flex-flow: row;
}
#list8{
    height: 20px;
    width: 100%;
}
.zi{
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 10px;
}



